@charset "UTF-8";

:root {
    --dark-water: #2A363B;
    --medium-water: #3B4C54;
    --light-water: #4C626B;
    --cream: #EDE3D8;
    --light-gray: #FCFFF5;
    --mustard: #E0A500;
    --dark-mustard: #D99300;
    --pure-white: #FFFFFF;
    --error: #8E090B;
    --shadow-black: rgba(0, 0, 0, 0.2);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-water);
    color: var(--dark-water);
}

header {
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 155px);
    flex-direction: column;
}

h1 {
	color: var(--cream);
}

p {
	color: var(--light-gray);
}

button {
    width: 200px;
    padding: 15px;
    font-size: 18px;
    color: var(--pure-white);
    background-color: var(--mustard);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
}

button:hover {
    background-color: var(--dark-mustard);
    transform: scale(1.05);
}

.mover {
  background: var(--cream);
  height: 10px;
  width: 80px;
  border-radius: 10px;
  animation: mover5 2s ease-in-out infinite;
}

.mover::before, .mover::after {
  content: '';
  position: absolute;
  height: 10px;
  border-radius: 10px;
  left: 20px;
  animation: mover5 2s ease-in-out infinite;
}

.mover::before {
  background: var(--medium-water);
  top: 20px;
  width: 50px;
}

.mover::after {
  background: var(--light-water);
  top: -20px;
  width: 60px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

@keyframes mover5 {
  75% {
    transform: translateX(40px) scale(1.1);
  }

  25% {
    transform: translateX(-40px) scale(1);
  }
}